header {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #ff7f57;
}
.right-menu {
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    transition: 0.1s;
}
.right-menu:hover {
    background-color: #fa654d;
}
.right-menu>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.logout {
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fa654d;
}
.logo>a {
    outline: none;
}
/* banner */
.banner>img {
    width: 100%;

}
/* searchbar */
.search {
    max-width: 50%;
    margin: 8px;
    margin: 23px auto;
    background-color: white;
    border-radius: 0 0 8px 8px;
    position: sticky;
    top: 0;
}
.search>form>div>input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    background-color: #f5f5f5;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #32906c;
    transition: 0.1s;
}
.search>form>div>input:focus {
    background-color: #fff2d8;  
}
.search>form>button {
    padding: 8px;
    background-color: #32906c;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.1s;
}
.search>form>button:hover {
    background-color: #1d5640;
}
.search-icon {
    width: 100%;
    position: relative;
}
.search-icon>img {
    width: 23px;
    position: absolute;
    top: 23%;
    left: 13px;
}
/* main */
.main-container {
    max-width: 1360px;
    padding: 23px 0;
    margin: 0 auto;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content {
    display: flex;
    flex-direction: column;
    width: 316px;
    padding: 8px;
}
.content-img>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.content-detail>h3 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-detail>p {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 1350px) {
    .content-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1135px) {
    .search {
        max-width: 70%;
    }
}
@media screen and (max-width: 1020px) {
    .content-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 716px) {
    .content-container {
        grid-template-columns: 1fr 1fr;
    }
    .content {
        width: 216px;
    }
    .content-img>img {
        width: 200px;
        height: 140px;
    }
}
@media screen and (max-width: 522px) {
    .search {
        max-width: 90%;
    }
    .content {
        width: 166px;
    }
    .content-img>img {
        width: 150px;
        height: 100px;
    }
}
@media screen and (max-width: 414px) {
    .content {
        width: 126px;
    }
    .content-img>img {
        width: 110px;
        height: 75px;
    }
}